.backtrack {
  border: none;
  background: none;
  cursor: pointer;
}

.backtrack span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  text-transform: uppercase;
}

.backtrack:hover svg {
  transform: translateX(0);
}

.backtrack:active svg {
  transform: scale(0.9);
}

 .backtrack-underline {
  position: relative;
  color: red;
  padding-bottom: 20px;
}

 .backtrack-underline:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  right: 0;
  background-color: red;
  transform-origin: bottom right; /* start at end of word */
  transition: transform 0.25s ease-out;
}

.backtrack:hover .backtrack-underline:after {
  transform: scaleX(1);
  transform-origin: bottom right;
}
